/* цвет фона #FFFFFF */
/* вторичный цвет фона #F5F4FA */
/* футер цвет фона #2F303A */

/* основной цвет текста #757575 */
/* вторичный цвет текста #212121 */
/* вторичный цвет текста #000000 */
/* вторичный цвет текста #FFFFFF */
/* акцент #2196F3 */
/* футер вторичный цвет текста rgba(255, 255, 255, 0.6) */
:root {
  --primari-text-color: #757575;
  --title-text-color: #000000;
  --subtitle-text-color: #212121;
  --accent-color: #2196f3;
}
body {
  background-color: #ffffff;
  color: var(--primari-text-color);
}

.logo,
.link,
.footer-logo,
.footer-text,
.footer-link,
.project-link {
  text-decoration: none;
}

ul {
  list-style: none;
}

.logo {
  color: var(--title-text-color);
}

.accent {
  color: var(--accent-color);
}

/* site-nav */
.site-nav .link {
  color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* auth-nav */
.auth-nav .link {
  color: var(--primari-text-color);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

/* section */
.section-title {
  color: var(--subtitle-text-color);
}

.section-subtitle {
  color: var(--subtitle-text-color);
}

/* features */
.features {
  color: var(--subtitle-text-color);
}

/* footer */
.footer {
  background-color: #2f303a;
}

.footer-logo {
  color: #ffffff;
}

.footer-text {
  color: #ffffff;
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);
}

/* portfolio */

/* project */
.project-subtitle {
  color: var(--subtitle-text-color);
}

.project-text {
  color: var(--primari-text-color);
}
