/* цвет фона #FFFFFF */
/* вторичный цвет фона #F5F4FA */
/* футер цвет фона #2F303A */

/* основной цвет текста #757575 */
/* вторичный цвет текста #212121 */
/* вторичный цвет текста #000000 */
/* вторичный цвет текста #FFFFFF */
/* акцент #2196F3 */
/* футер вторичный цвет текста rgba(255, 255, 255, 0.6) */
:root {
  --primari-text-color: #757575;
  --title-text-color: #000000;
  --subtitle-text-color: #212121;
  --accent-color: #2196f3;
  --premari-white-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --secondary-text-color: rgba(255, 255, 255, 0.6);
  --third-bg-color: #2f303a;
}
body {
  background-color: var(--premari-white-color);
  color: var(--primari-text-color);
  font-family: roboto, sans-serif;
  letter-spacing: 0, 03em;
}

.logo,
.link,
.footer-logo,
.footer-text,
.footer-link,
.project-link {
  text-decoration: none;
}

ul {
  list-style: none;
}

.logo {
  color: var(--title-text-color);
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
}

.accent {
  color: var(--accent-color);
}

/* site-nav */
.site-nav .link {
  color: var(--subtitle-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.logo:hover,
.logo:focus,
.site-nav .link:hover,
.site-nav .link:focus,
.footer-logo:hover,
.footer-logo:focus,
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

/* auth-nav */
.auth-nav .link {
  color: var(--primari-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
}

.auth-nav .link:hover,
.auth-nav .link:focus,
.footer {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* hero */
.hero {
  background-color: var(--third-bg-color);
}

.hero-title {
  color: var(--premari-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* button */
.button {
  color: var(--premari-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
}

.button.primary {
  color: var(--premari-white-color);
  background-color: var(--accent-color);
}

/* section */
.section-title {
  color: var(--subtitle-text-color);
}

.section-subtitle {
  color: var(--subtitle-text-color);
}

.section.team {
  background-color: var(--secondary-bg-color);
}

/* features */
.features {
  color: var(--subtitle-text-color);
}

/* footer */
.footer {
  background-color: var(--third-bg-color);
}

.footer-logo {
  color: var(--premari-white-color);
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
}

.footer-text {
  color: var(--premari-white-color);
}

.footer-link {
  color: var(--secondary-text-color);
}

/* portfolio */

/* button */
.button.secondary {
  color: var(--subtitle-text-color);
  background-color: var(--secondary-bg-color);
  border-color: transparent;
}

.button.secondary:hover,
.button.secondary:focus {
  color: var(--premari-white-color);
  background-color: var(--accent-color);
}

/* project */
.project-subtitle {
  color: var(--subtitle-text-color);
  letter-spacing: 0, 06em;
}

.project-text {
  color: var(--primari-text-color);
}
